<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@post.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @post do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.label :caption %>:
    <%= f.text_field :caption %><br>
    <%= f.fields_for :hashtag, @hashtag do |hashtag_builder| %>
        Hashtag: <%= hashtag_builder.text_field :name %>
    <% end %><br>
    <%= f.submit %>
<% end %>