<!DOCTYPE html>
<html>
  <head>
    <title>Igmitate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!--Navigation Bar-->
  
    <nav class="navbar navbar-light bg-light d-flex">
      <div class="container">
        <div class="logo">
          <a class="navbar-brand" href="/">
            <%= fa_stacked_icon "camera inverse", base: "circle"%>
            Igmitate
          </a>
        </div>
        <% if user_signed_in? %>  
          <div class="m-auto">
            <form class="form-inline search-form">
              <input class="form-control mr-sm-2" type="search" placeholder="@search" aria-label="Search">
            </form>
          </div>
        <% end %>
        <% if user_signed_in? %>  
          <div class="user-section">
            <a><i class="fa fa-compass"></i></a>
            <a><i class="fa fa-heart"></i></a>
        
            <a href="<%= user_posts_path(current_user.id)%>">
              <i class="fa fa-user"></i>
              @<%= current_user.username %>
            </a>
          </div>
        <% end %>
      </div>
    </nav>
    <% if user_signed_in? %>
      <nav class="navbar navbar-light bg-light d-flex">
        <div class="container">
          <div class="navlinks">
            <a href="<%= new_post_path %>">Add Post</a>
            <a href="<%=  %>">Hashtag Stats</a>
            <a href="<%=  %>">Settings</a>
            <a href="<%= destroy_user_session_path%>" data-method="delete">Logout</a>
          </div>
        </div>
      </nav>
    <% end %>  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <!--Main Content-->
    <main class="container" style="min-height: 500px;">
      <%= yield %>
    </main>

    <!--Footer-->
    <footer class="container footer">
      <nav class="navbar d-flex">
        <ul>
          <li>ABOUT US
          </li>
          <li>SUPPORT</li>
          <li>PRESS</li>
          <li>API</li>
          <li>JOBS</li>
          <li>PRIVACY</li>
          <li>TERMS</li>
          <li>DIRECTORY</li>
          <li>PROFILES</li>
          <li>HASHTAGS</li>
          <li>LANGUAGE</li>
        </ul>
        <p> © 2018 IGMITATE </p>
      </nav>
    </footer>
  </body>
</html>
